on property:persist.sys.parts.gpu.scheduler=true
    stop ondemand_mtk
    start ondemand_mtk_killer
    start gpu_scheduler

on property:persist.sys.parts.gpu.scheduler=false
    stop gpu_scheduler
    stop ondemand_mtk_killer
    start ondemand_mtk